*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.list-section {
  margin-left: 105px;
  margin-right: 105px;
  overflow: hidden;
}

.top-header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  height: 80px;
  background-color: #000000eb;
  color: #fff;
  align-items: center;
  padding: 23px;
  font-family: Arial, Helvetica, sans-serif;
}

.leftSide {
  display: flex;
  align-items: center;
  flex: 40%;
}

.leftSide ul{
  display: flex;
}

.leftSide ul li {
  display: flex;
  text-decoration: none;
  list-style: none;
  margin-left: 25px;
}

.leftSide ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
}

.rightSide {
  display: flex;
  flex: 40%;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.rightSide .search {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  flex: 70%;
  height: 40px;
  border: 1px solid #474646;
  border-radius: 10px;
}

.rightSide .input-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 100%;
}

.rightSide .search-input {
  flex:70%;
  outline: none;
  height: 40px;
  border: none;
  background-color: #00000000;
  color: #fff;
}

.rightSide s.search-clock {
  display: flex;
  justify-content: flex-end;
  flex: 30%;
}


.rightSide .icon {
  padding-top: 5px;
}

.rightSide .text{
  color: #e4e4e4;
}

.rightSide .auth {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 30px;
  flex: 30%
}

.rightSide .signUp{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
  margin-right: 10px;
  height: 40px;
  border: 1px solid #999;
  border-radius: 8px;
}

 .resource {
   display: flex;
   gap: 5px;
   align-items: center;
   padding-left: 55px;
   padding-top: 20px;
   padding-bottom: 20px;
  background-color: #f4f4f4;
  overflow: hidden;
 }

 .resource-fb {
   font-size: 20px;
   color: #5b9af1;
 }

 .resource-public {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 50px;
   height: 20px;
   border: 1px solid #999;
   border-radius: 50px;
   font-size: 12px;
   color: #878787;
   overflow: hidden;
 }

 .header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-left: 50px;
   padding-right: 50px;
   width: 100%;
   padding-top: 20px;
   padding-bottom: 20px;
   background-color: #f4f4f4;
   border-bottom: 1px solid rgb(220, 220, 220);
   overflow: hidden;
 }

 .headerLeftSide {
   display: flex;
   flex: 60%;
   margin-left: -20px;
   height: 30px;
 }

 .headerLeftSide ul {
   display: flex;
   list-style: none;
 }

 .headerLeftSide ul li {
    display: flex;
    align-items: center;
   margin-left: 23px;
   color: #878787;
 }

 .headerLeftSide ul li:hover{
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  background-color: #b7b7b72c;
  border-radius: 10px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 3px;
  padding-bottom: 3px;
 }

 .headerLeftSide-li {
   display: flex;
   align-items: center;
   gap: 7px;
   font-size: 15px;
 }

 .headerLeftSide-web-li{
    display: flex;
    gap: 7px;
    font-size: 15px;
 }

 .headerLeftSide-li-count {
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 13px;
   color: #616161;
   font-weight: 600;
   width: 40px;
   height: 20px;
   border: 1px solid #999;
   border-radius: 10px;
 }

 .headerLeftSide-li p {
   color: #424242;
 }

 .headerRightSide {
  display: none;
 }

.mobile-navWrapper {
  display: none;
}

.home-thumbCrumb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-left: 158px;
  padding-right: 25px;
  width: 100%;
  height: 40px;
}

.thumCrumbLeftSide {
  display: flex;
  align-items: center;
  width: 100%;
}

.thumbCrumb_btn1 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 10px;
  width: 10%;
  height: 38px;
  border: 1px solid rgb(195, 195, 195);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 12px;
  color: #3a3a3a;
}

.thumbCrumb_btn2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 10px;
  width: 12%;
  height: 38px;
  border: 1px solid rgb(195, 195, 195);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-left: none;
  font-size: 12px;
}

.thumbCrumb_btn2 p{
  margin-right: 15px;
}

.thumbCrumb_btn1-count {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 21px;
  border-radius: 10px;
  background-color: #e2e2e270;
}

.thumbCrumb_btn2-count {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 21px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #e2e2e270;
}

.thumCrumbRightSide-web {
  width: 14%;
  height: 40px;
  margin-right: 125px;
  background-color: #078201;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: #fff;
  border-radius: 7px;
}

.thumCrumbRightSide{
  display: none;
}

.thumCrumbLeftSide-search {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 70%;
  height: 40px;
  border: 1px solid #d0d0d0;
  margin-right: 10px;
  border-radius: 8px;
}

.thumCrumbLeftSide-input {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  background-color: #ffffff00;
  padding-left: 10px;
}

.list-header-web {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-left: 55px;
  padding-left: 20px;
  padding-right: 20px;
  width: 93%;
  height: 50px;
  border-top: 1px solid #cfcfcf;
  border-left: 1px solid #cfcfcf;
  border-right: 1px solid #cfcfcf;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  overflow: hidden;
}

.header-title {
  flex: 50%;
}

.header-links {
  flex: 50%;
}

.list-top-web-title {
   display: flex;
   align-items: center;
   width: 100%;
   display: flex;
   gap: 10px;
   font-size: 14px;
   color: #5b5b5b;
 }

.list-table-web-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 13px;
  color: #999;
}

.list-table-web-header p{
  margin-left: 40px;
}

.header-links-icon {
  padding-top: 3px;
}


 .list-body-header {
   display: flex;
   gap: 5px;
   width: 93%;
   height: auto;
   margin-left: 55px;
   margin-right: 55px;
   padding-bottom: 10px;
   padding-top: 15px;
   padding-left: 20px;
   padding-right: 26px;
   border-top: 1px solid #c7c7c7;
   border-left: 1px solid #c7c7c7;
   border-right: 1px solid #c7c7c7;
 }

 .list-body-header-text {
   display: flex;
   align-content: center;
   line-height: 25px;
   font-size: 15px;
   margin-bottom: 20px;
   width: 110%;
 }

.list-p {
  display: flex;
  position: absolute;
  padding-top: 20px;
  font-size: 12px;
  color: #777;
}

 .header-text-1 {
   display: flex;
   align-items: center;
   font-size: 13px;
 }

 .header-text-1 p {
  display: none;
 }

 .header-sub-text-1 {
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 12px;
   width: 90px;
   height: 21px;
   background-color: #dadada;
   border-radius: 14px;
 }

 .header-sub-text-2 {
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 12px;
   width: 120px;
   height: 21px;
   margin-left: 10px;
   background-color: #9704db;
   border-radius: 14px;
   color: #fff;
 }

 .para {
  position: absolute;
  top: 370px;
   font-size: 12px;
   color: #777;
 }

 .list-body-header-action {
  display: flex;
  gap: 2px;
 }

 .list-body-header-action p {
  font-size: 13px;
 }

 .sub-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #777;
  font-size: 15px;
  margin-top: 20px;
  margin-left: 3%;
  border-bottom: 1px solid #bcbcbc;
  width: 94%;
  padding-bottom: 30px;
 }

 .web-footer {
  display: flex;
 }

 .footer1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 40px;
  padding-left: 30px;
  padding-right: 30px;
 }

 .copyright-footer {
   display: flex;
   align-items: center;
   flex: 30%;
   margin-top: 20px;
   padding-left: 30px;
   padding-right: 30px;
   font-size: 13px;
   color: #777;
 }

 .footer1 ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  list-style: none;
  flex: 70%
 }

 .footer1 ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  font-size: 12px;
  color: #5b9af1;
  font-size: 14px;
 }

 .pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
 }

 .footer {
  display: none;
 }

.copyright-footer1 {
  display: none;
  padding-bottom: 50px;
}

.mobile-menu{
  display: none;
}

.search-mobile {
  display: none;
}

.menu-li {
  display: none;
}

.list-table-header {
  display: none;
}

.list-top-title {
  display: none;
}

 .divider {
   width: 93%;
   border: 1px solid #c7c7c784;
   margin-top: 1px;
   margin-left: 55px;
 }

 .pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #676767;
  margin-bottom: 5rem;
  font-size: 1.0rem;
  gap: 5px;
 }

 .pagination .page-num {
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400;
 }

 .pagination .page-num:hover {
  background-color: #014db7;
  color: #fff;
 }

 .pagination .active {
  background-color: #014db7;
  color: #fff;
 }

 .pagination .next {
  color: #5b9af1;
 }

@media (max-width: 850px) {
  .leftSide ul li a {
      text-decoration: none;
      color: #fff;
    }
}

@media (max-width: 1200px) {
  .leftSide{
    display: none;
  }

  .rightSide{
    display: none;
  }


.mleftBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 40px;
  border: 1px solid #999;
  border-radius: 8px;
}

  .mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    width: 100%;
    overflow: hidden;
  }

  .mobile-navWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    width: 100%;
    overflow: hidden;
  }

  .mobile-menu{
    position: absolute;
    display: flex;
    width: 95%;
    height: 500px;
    margin-left: 20px;
    background-color: rgb(247, 247, 247);
    border-radius: 10px;
  }

  .mobile-menu ul{
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 40px;
    list-style: none;
    line-height: 60px;
    font-size: 20px;
    font-weight: 500;
    width: 100%;
  }

  .menu-li {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mobileSearch{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
  }

  .mobileSearch-form-header {
    display: flex;
    align-items: center;
    padding-left: 10px;
    width: 83%;
    height: 40px;
    border: 1px solid #000;
    border-radius: 10px;
  }

  .form-search-icon-input {
    width: 100%;
    height: 33px;
    border: none;
  background-color: rgb(247, 247, 247);
  }

  .clock-icon {
    margin-right: 10px;
    display: flex;
    align-items: center;
  }

  .signUp-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 83%;
    height: 50px;
    background-color: #000;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    color: #fff;
  }

  .resource{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: left;
    padding-left: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f4f4f4; 
  }

  .resource-fb {
    font-size: 20px;
      color: #5b9af1;
      font-size: 15px;
  }

  .resource-public{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 53px;
    height: 20px;
    border: 1px solid #999;
    border-radius: 50px;
    font-size: 13px;
    color: #878787;
  }

  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f4f4f4;
    border-bottom: 1px solid rgb(220, 220, 220);
  }

  .headerLeftSide{
    display: flex;
    flex: 60%;
  }

  .headerLeftSide ul {
   display: flex;
   list-style: none;
  }

  .headerLeftSide ul li{
    margin-left: 20px;
    color: #878787;
  }

  .headerLeftSide-li{
    display: flex;
    gap: 7px;
  }

  .headerLeftSide-li-count{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    color: #616161;
    font-weight: 600;
    width: 40px;
    height: 20px;
    border: 1px solid #999;
    border-radius: 10px;
  }

  .headerLeftSide-li p{
    color: #424242;
  }

  .headerLeftSide-web-li{
    display: none;
  }

  .headerRightSide{
    display: flex;
    justify-content: flex-end;
  }

  .header-menu {
    position: absolute;
    float: right;
    display: flex;
    width: 200px;
    height: auto;
    top: 208px;
    margin-left: 163px;
    padding: 20px;
    background-color: #e1e1e1c7;
    border-radius: 5px;
  }

  .header-menu li{
    line-height: 40px;
    list-style: none;
  }

  .icons {
    margin-left: 80px;
  }

  .home-thumbCrumb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: -0px;
    width: 100%;
    height: 40px;
  }

  .thumCrumbLeftSide {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .thumbCrumb_btn1 {
  display: flex;
  align-items: center;
  padding-right: 12px;
  width: 35%;
  height: 30px;
  border: 1px solid rgb(195, 195, 195);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 12px;
  color: #3a3a3a;
}

.thumbCrumb_btn2 {
  display: flex;
  align-items: center;
  width: 40%;
  height: 30px;
  border: 1px solid rgb(195, 195, 195);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-left: none;
  font-size: 12px;
}

.thumbCrumb_btn2 p{
  margin-right: 15px;
}

.thumbCrumb_btn1-count {
  display: none;
}

.thumbCrumb_btn2-count {
  display: none;
}

  .thumCrumbRightSide{
    width: 80px;
    height: 40px;
    background-color: #078201;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 7px;
  }

  .thumCrumbLeftSide-search {
    display: none;
  }

  .thumCrumbRightSide-web{
    display: none;
  }

  .list-header{
    margin-top: 30px;
  }

  .search-mobile{
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 40px;
    width: 87%;
    height: 40px;
    border: 1px solid #999;
    border-radius: 10px;
  }

  .list-header {
    margin-top: 15px;
    margin-left: 25px;
  }

  .list-top-title {
    display: flex;
    align-items: center;
    width: 100%;
    display: flex;
    gap: 10px;
    font-size: 12px;
  }

  .list-top-title h4 {
    color: #676767;
  }

  .list-top-title p {
    color: #949494;
  }

  .list-table-header {
    margin-top: 18px;
    margin-left: -23px;
    width: 110%;
    height: 50px;
    background-color: #f4f4f4;
  }

  .list-table-header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: -34px;
    font-size: 13px;
    color: #999;
    border-top: 1px solid #c7c7c7;
    border-bottom: 1px solid #c7c7c7;
  }

  .list-body-header {
    display: flex;
    gap: 5px;
    width: 110%;
    height: auto;
    margin-left: -34px;
    padding-bottom: 1px;
    padding-top: 15px;
    padding-left: 35px;
    padding-right: 26px;
    border-top: 1px solid #c7c7c7;
    border-left: 1px solid #c7c7c7;
    border-right: 1px solid #c7c7c7;
  }

  .divider {
    width: 110%;
    border: 1px solid #c7c7c784;
    margin-top: 40px;
    margin-left: -25px;
  }

  .list-body-header-text {
    display: block;
    align-content: center;
    line-height: 25px;
    font-size: 15px;
    width: 110%;
  }

  .header-text-1 {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 13px;
    width: 100%;
  }

  .header-sub-text-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    width: 80px;
    height: 21px;
    border: 1px solid #888;
    border-radius: 14px;
    margin-top: -28px;
  }

  .header-sub-text-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    width: 100px;
    height: 21px;
    background-color: #9704db;
    margin-left: 90px;
    border-radius: 14px;
    color: #fff;
    margin-top: -28px;
  }

  .para {
    font-size: 12px;
    color: #9f9f9f;
    margin-top: 12px;
  }

  .list-top-web-title {
    display: none;
  }

  .header-links {
    display: none;
  }

  .list-header-web {
    display: none;
  }

  .para {
    display: flex;
    top: 515px
  }

  .list-body-header-action {
    display: none;
  }

  .footer .webfooter-li {
    display: none;
  }

  .web-footer {
    display: none;
  }

  .sub-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #777;
    font-size: 15px;
    margin-top: 20px;
    border-bottom: 1px solid #bcbcbc;
    padding-bottom: 30px;
    width: 95%;
  }

  .copyright-footer1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    padding-left: 40px;
    padding-right: 30px;
    font-size: 13px;
    color: #777;
  }

  .footer {
    display: flex;
    width: 100%;
    margin-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    width: 100%;
  }

  .footer ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    font-size: 12px;
    color: #5b9af1;
  }

  .headerLeftSide .headerLeftSide-web-li{
    display: none;
  }

  .list-section {
    margin-left: 1px;
    margin-right: 1px;
  }


  .overlay{
    position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      /* Semi-transparent black background */
      z-index: 9999;
      /* Ensure it's on top of other content */
      pointer-events: auto;
  }
}


